@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-size: 14px !important;
    line-height: 21px !important;
    color: #454545 ;
    margin: 0;
    padding: 0;
}

.pdtb-50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.pdtb-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

img{
    max-width: 100%;
}

.heading{
    font-family: 'Barlow', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #DD2803;
    text-transform: uppercase;
}

.sub-heading{
    font-family: 'Barlow', sans-serif;
    font-size: 42px;
    font-weight: 600;
}

.light-yellow{
    color: #FBE690;
}

.red-color{
    color: #DD2803;
}

.uppercase{
    text-transform: uppercase;
}

.fs-18{
    font-size: 18px;
    line-height: normal;
}
.fs-24{
    font-size: 24px;
    line-height: normal;
}

/* .btn-primary{
    background: linear-gradient(90deg, rgba(241,35,4,1) 0%, rgba(249,129,50,1) 100%);
}

.btn-primary:hover{
    background: #DD2803;
} */

header{
    min-height: 100vh;
    background: url(../src/Assets/Images/header-bg.png) no-repeat left top;
    background-size: cover;
}
.header-title{
    color: #FFF;
    font-family: 'Aclonica', sans-serif;
    font-size: 54px;
    line-height: 68px;
    padding-top: 100px;
}
.header-img{
    padding-top: 80px;
}

.order-food .head, .blog-section .head{
    font-size:18px;
    line-height: 24px;
}
.order-food, .blog-section{
    background-color: #F9F2EA;
}
.order-food-item{
    padding: 30px 50px;
    background-color: #FFF;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 3px 15px -3px rgba(0,0,0,0.1);
    min-height: 300px;
}
.order-food-item h4{
    margin-bottom:20px;
    font-weight: 600;
}

.testimonial-section{
    background: url(../src/Assets/Images/testimonial-bg.png) no-repeat left center;
}
.testimonial-item{
    padding:30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    color: #FFF;
}
.testimonial-title{
    background: url(../src/Assets/Images/quotes.png) no-repeat 0px 0px;
    color: #DD2803;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 15px 15px 15px 0px;
}
.testi-user img{
    max-width: 36px;
    max-height: 36px;
    margin-right: 5px;
}
.blog-item{
    background-color: #FFF;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0px 3px 15px -3px rgba(0,0,0,0.1);
}
.blog-item h4{
    color: #DD2803;
    text-transform: uppercase;
    font-size: 18px;
}
.blog-item p.gray-text{
    color: #646464;
}
.guide-section{
    color: #FFF;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.guide-section::before {
    background: url(../src/Assets/Images/flag1.png) no-repeat right top;
    width: 100%;
    height: 385px;
    content: "";
    position: absolute;
    right: 0;
    top: -88px;
    background-size: 42%;
}

.guide-section .btn-primary{
    color: #DD2803 !important;
    background-color: #FFF !important;
    border-color: #FFF !important;
    font-weight: 600;
}
.guide-section .btn-primary:hover{
    color: #FFF !important;
    background-color: #DD2803 !important;
    border-color:  #DD2803 !important;
}

.linear-gradiant{
    background: linear-gradient(90deg, rgba(241,35,4,1) 0%, rgba(249,129,50,1) 100%);
}

footer{
    background-color: #000F2A;
    padding: 80px 80px 30px 80px;
    color: #FFF;
    background-image: url(../src/Assets/Images/flag-2.png);
    background-repeat: no-repeat;
    background-position: -50px -30px;
}
footer h5{
    color: #DD2803;
    font-size: 18px;
}
footer ul{
    margin: 0;
    padding:0px 0px 0px 15px;
}
footer ul li{
    padding: 6px 0px 6px 0px;
}
footer ul li a{
    color: #FFF;
    text-decoration: none;
    transition: all 0.5s;
}
footer ul li a:hover{
    color:rgba(255, 255, 255, 0.65);;
    text-decoration: underline;
}
footer hr{
    margin: 30px 0px;
    border-color: rgba(255, 255, 255, 0.25);
}
footer a{
    color: #DD2803;
    transition: all 0.5s;
}
footer a:hover{
    color: #FFF;
}
.social-icons{
    list-style: none;
    float: right;
}
.social-icons li{
    display: inline-block;
    margin-right: 10px;
}
.social-icons li a{
    color: #DD2803;
    font-size: 21px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
.social-icons li a:hover{
    background-color: rgba(255, 255, 255, 0.15);
    color: #DD2803;
}



.home-seach-container{
    margin: 15px 0 30px 0;
}
.home-seach-container .form-control, .home-seach-container .btn{
    height: 46px;
    font-size: 14px;
    border-radius: 0px;
    
}
.home-seach-container .nav-pills .nav-link.active, .home-seach-container .nav-pills .show > .nav-link {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.home-seach-container .tab-content{
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px;
}
.home-seach-container .mantine-Input-wrapper input[type="search"]{
    height: 46px;
    width: 100%;
    border-radius: 0px;
}
.home-seach-container .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 11.5px 14px;
}
.home-seach-container .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 0px;
}
.home-seach-container .btn-primary{
    background: #DD2803;
    border-color: #DD2803;
}
.home-seach-container .btn-primary:hover, .home-seach-container .btn-primary:focus{
    background: #c72403;
    border-color:#c72403;
}
.partner{
    color: #FFF;
}
.partner img{
    display: inline-block;
    margin:0px 4px;
    max-width: 24px;
}

.xs-btn-center{
    text-align: right;
}

#header.header-scrolled, #header.header-inner-pages{
    background: #FFFFFF !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15) !important;
}
.navbar a, .navbar a:focus{
    color: #454545 !important;
}
.cart-count{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #DD2803;
    text-align: center;
    color: #FFFFFF;
    margin-left: 2px;
}
.mobile-nav-toggle {
    color: #454545 !important;
}

.page-title-section{
    padding: 120px 0 50px 0;
    background: linear-gradient(90deg, rgba(241,35,4,1) 0%, rgba(249,129,50,1) 100%);
    color: #FFFFFF;
} 
.page-title-section h2{
    font-size: 36px;
    font-weight:600;
}
.page-main-container{
    padding: 30px 0px 50px 0px;

}


@media screen and (max-width: 767px) {

    header{
        min-height: auto;
        background: url(../src/Assets/Images/header-bg.png) no-repeat center top;
        background-size: cover;
        padding-bottom: 30px;
    }

    .header-title{
        font-size: 30px;
        line-height: 42px;
        position: absolute;
        z-index: 2;
    }
    .header-img{
        position: absolute;
        z-index: 1;
        right: -40px;
        top: 100px;
    }
    .heading{
        font-size: 30px;
    }

    .sub-heading{
        font-size: 24px;
    }
    .fs-18 {
        font-size: 14px;
        line-height: normal;
    }
    .order-food-item{
        padding:10px;
        margin-bottom: 15px;
        min-height: auto;
    }
    .order-food-item img{
        max-height: 48px;
    }
    .pdtb-80, .pdtb-50 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    footer{
        padding: 30px 15px;
    }
    .social-icons{
        float: unset;
    }
    .xs-text-center{
        text-align: center !important;
    }
    .xs-btn-center{
        text-align: center !important;
    }
    .xs-mt-3{
        margin-top: 0px !important;
    }
    .xs-mt-30{
        margin-top: 30px;
    }
    .xs-mt-15{
        margin-top: 15px !important;
    }

    .css-z3c6am-MuiFormControl-root-MuiTextField-root{
        width: 100%;
    }

    .page-title-section{
        padding:100px 0 25px 0;
    }

    .page-title-section h2{
        font-size: 24px;
    }


}
